**/node_modules/
**/languages/
**/build/
**/package.json
**/package-lock.json
**/*.org

#wp-content
/upgrade/
/uploads/
/index.php

#wp-content/plugins
plugins/*/
!plugins/paying-attention-plugin/
!plugins/giodev-first-plugin
!plugins/new-database-table/
!plugins/pets-custom-post-type/
!plugins/word-filter-plugin/

/themes/index.php