<!-- wp:online-university/header /-->

<!-- wp:online-university/banner -->
<div class="wp-block-online-university-banner"><!-- wp:online-university/generic-heading {"text":"Welcome!"} -->
<h1 class="wp-block-online-university-generic-heading headline headline--large">Welcome!</h1>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-heading {"text":"We think you'll like it here.","size":"medium"} -->
<h2 class="wp-block-online-university-generic-heading headline headline--medium">We think you'll like it here.</h2>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-heading {"text":"Why don't you check out the \u003cstrong\u003emajor \u003c/strong\u003eyou're interested in?","size":"small"} -->
<h3 class="wp-block-online-university-generic-heading headline headline--small">Why don't you check out the <strong>major </strong>you're interested in?</h3>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-button {"text":"Find Your Major","linkObject":{"title":"/programs","type":"URL","url":"/programs"},"colorName":"dark-orange"} -->
<a href="#" class="wp-block-online-university-generic-button btn btn--large btn--dark-orange">Find Your Major</a>
<!-- /wp:online-university/generic-button --></div>
<!-- /wp:online-university/banner -->

<!-- wp:online-university/events-and-blogs /-->

<!-- wp:online-university/slideshow {"className":"wp-block-online-university-slideshow"} -->
<!-- wp:online-university/slide {"themeImage":"bus.jpg"} -->
<div class="wp-block-online-university-slide"><!-- wp:online-university/generic-heading {"text":"Free Transportation","size":"medium"} -->
<h2 class="wp-block-online-university-generic-heading headline headline--medium">Free Transportation</h2>
<!-- /wp:online-university/generic-heading -->
 
<!-- wp:online-university/generic-heading {"text":"All students have free unlimited bus fare","size":"small"} -->
<h3 class="wp-block-online-university-generic-heading headline headline--small">All students have free unlimited bus fare</h3>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-button {"text":"Learn More","size":"medium","colorName":"dark-orange"} -->
<a href="#" class="wp-block-online-university-generic-button btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:online-university/generic-button --></div>
<!-- /wp:online-university/slide -->

<!-- wp:online-university/slide {"themeImage":"apples.jpg"} -->
<div class="wp-block-online-university-slide"><!-- wp:online-university/generic-heading {"text":"An Apple a Day","size":"medium"} -->
<h2 class="wp-block-online-university-generic-heading headline headline--medium">An Apple a Day</h2>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-heading {"text":"Our dentistry program recommends eating apples.","size":"small"} -->
<h3 class="wp-block-online-university-generic-heading headline headline--small">Our dentistry program recommends eating apples.</h3>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-button {"text":"Learn More","size":"medium"} -->
<a href="#" class="wp-block-online-university-generic-button btn btn--medium btn--blue">Learn More</a>
<!-- /wp:online-university/generic-button --></div>
<!-- /wp:online-university/slide -->

<!-- wp:online-university/slide {"themeImage":"bread.jpg"} -->
<div class="wp-block-online-university-slide"><!-- wp:online-university/generic-heading {"text":"Free Food","size":"medium"} -->
<h2 class="wp-block-online-university-generic-heading headline headline--medium">Free Food</h2>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-heading {"text":"Online University offers lunch plans for those in need.","size":"small"} -->
<h3 class="wp-block-online-university-generic-heading headline headline--small">Online University offers lunch plans for those in need.</h3>
<!-- /wp:online-university/generic-heading -->

<!-- wp:online-university/generic-button {"text":"Learn More","size":"medium","colorName":"orange"} -->
<a href="#" class="wp-block-online-university-generic-button btn btn--medium btn--orange">Learn More</a>
<!-- /wp:online-university/generic-button --></div>
<!-- /wp:online-university/slide -->
<!-- /wp:online-university/slideshow -->

<!-- wp:online-university/footer /-->